$colors: (
  blue: #2980b9,
  green: #2ecc71,
  green-hover: #27ae60,
  grey: #34495e,
  grey-hover: #95a5a6,
  red: #e74c3c,
  red-hover: #c0392b,
  white: #fff,
  black: #000,
);

$font-families: (
  lato: ("Lato", sans-serif),
);

$font-styles: (
  base-font-size: 16,
  base-line-height: 24,
);

$sizes: (
  gutter: 20px,
  radius: 4px,
);
